</div> <!-- .container -->
<footer class="mt-4">
    <div class="container">
        <hr>
        <p>&copy; 2024 Books Library</p>
    </div>
</footer>
<!-- Bootstrap JS (optional, for certain Bootstrap components) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
